[user]
  name = Nghia Nguyen
  email = NghiaNguyenBH@gmail.com\n
[alias]
  st = status
  ci = commit
  br = branch -a
  co = checkout
  df = diff
  lg = log -p
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  sticky = config credential.helper 'cache --timeout=10800'
  sq = !git reset --soft $(git rev-list --reverse origin/main..HEAD | head -1) && git commit --amend
[color]
  status = auto
  branch = auto
  ui = auto
  diff = auto
[core]
  editor = vim
[merge]
  tool = meld
[branch]
  autosetuprebase = always
