[user]
  name = Nghia Nguyen
  email = NghiaNguyenBH@gmail.com\n
[alias]
  st = status
  ci = commit
  br = branch -a
  co = checkout
  df = diff
  lg = log -p
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
  status = auto
  branch = auto
  ui = auto
  diff = auto
[core]
  editor = vim
[diff]
  external = ~/dotfiles/diff.sh
[merge]
  tool = meld
[branch]
	autosetuprebase = always
